.timeLine {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: auto;
  background-color: cadetblue;
}

.timeLine div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
}

.timeLine div p{
  background-color: darkred;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px;
}

.timeLine div button{
  border: none;
  background-color: rgb(32, 30, 30);
  font-size: 1.5rem;
  padding: 5px 10px;
  color: grey;
  border-radius: 5px;
  cursor: pointer;
}

.timeLine div button:hover{
  background-color: rgb(46, 43, 43);
}